<%= div_for user do %>
	<h3>
		<%= link_to user.email, user %>
		<span class='actions'>
			<%= link_to "Edit", edit_user_path(user) %>
			<%= link_to "Delete", user, :confirm => "Are you sure?", :method => :delete %>
		</span>
	</h3>
<% end %>